version: '3.7'
services:
  db:
    image: mysql:5.7.32
    volumes:
      - ./docker/db/conf.d:/etc/mysql/conf.d
      - ./docker/db/init_data:/docker-entrypoint-initdb.d
    ports:
      - 3306:3306
    environment:
      MYSQL_DATABASE: bbs
      MYSQL_USER: user
      MYSQL_PASSWORD: password
      MYSQL_RANDOM_ROOT_PASSWORD: 1
    platform: linux/amd64
  web:
    build:
      context: docker/web
      dockerfile: Dockerfile
    volumes:
      - ./:/var/www/html
    ports:
      - 80:80
